*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    overflow: hidden;
}

nav{
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
}

nav a{
    text-decoration: none;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 20px;
    color: #212121;
}
nav a[aria-current="page"]{
    color: #000;
    background-color: #d4d4d4;
}
.container{
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
}